<body>
    <h1>Hello</h1>
    {{#each comments}}
    <div class="comment" id="{{this.commentId}}">
        <div>
            <div class="comment-header">
                <div>
                    <span class="name">{{userName}}</span>
                </div>
                <div>
                    <a href="/discussion/{{_id}}#{{this.commentId}}" class="button">permalink</a>
                    {{#if ../commentId}}
                    <a href="/discussion/{{_id}}#{{../commentId}}" class="button">szülő</a>
                    {{/if}}
                    <a href="/discussion/{{_id}}/comment/{{this.commentId}}/new" class="button">Válasz</a>
                </div>
            </div>
            <div>
                {{{content}}}
            </div>
        </div>
        {{#if comments}}
            {{> comment}}
        {{/if}}
    </div>
    {{/each}}
</body>
